* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#game {
    margin-top: 1rem;
}

#game canvas {
    width: 99%;
    max-width: 1024px;
    max-height: 768px;
}